---
import { useTranslations } from '../../i18n'
import BaseLayout from '../../layouts/BaseLayout.astro'
import TopLayout from '../../layouts/TopLayout.astro'
import BottomLayout from '../../layouts/BottomLayout.astro'
import ProjectCard from '../../components/ProjectCard.astro'

import { contentfulClient } from '../../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import type { EntryFieldTypes } from 'contentful'

const { currentLocale } = Astro
const t = useTranslations(currentLocale as string)

interface Project {
  contentTypeId: 'Projects'
  fields: {
    name: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink
    website: EntryFieldTypes.EntryResourceLink<any>
    repositorio: EntryFieldTypes.EntryResourceLink<any>
  }
}

const entries = await contentfulClient.getEntries<Project>({})
---

<BaseLayout
  title={t('portfolio.title')}
  description={t('portfolio.description')}
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {t('portfolio.heading')}
      </h2>
    </TopLayout>
    <BottomLayout size="xl">
      <div class="flex w-full flex-wrap justify-center gap-2">
        {
          entries.items.map((entry: any) => (
            <ProjectCard
              key={entry?.sys?.id}
              href={entry?.fields?.website}
              heading={entry?.fields?.name}
              subheading={entry?.fields?.description}
              imagePath={entry?.fields?.img?.fields?.file.url}
              altText={entry?.fields?.img?.fields.title}
              class="sm:w-2/f w-full"
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
